//header font
@font-face {
  font-family: 'engravers-regular';
  src: url('assets/engravers-regular.woff2') format('woff2'),url('assets/engravers-regular.woff') format('woff'), url('assets/engravers-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//body font
@font-face {
  font-family: 'dinbekregular';
  src: url('assets/dinbek-regular.woff2') format('woff2'),
  url('assets/dinbek-regular.woff') format('woff'),url('assets/dinbek-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}