/*
core
-----------------------------
*/

@mixin timeline-active-color($value) {
  .vis-item, .timeline-artwork, #maps-main-content, .maps-header-title-element-container {
    border-color: $value;
  }
  .maps-header-title-element, #maps-sidebar-container {
    background-color: lighten($value, 25%);
  }
}

.page-template-template-maps {
  &.map-timeline-1 {
    @include timeline-active-color($color-map-1);
  }
  &.map-timeline-2 {
    @include timeline-active-color($color-map-2);
  }
  &.map-timeline-3 {
    @include timeline-active-color($color-map-3);
  }
  &.map-timeline-4 {
    @include timeline-active-color($color-map-4);
  }
}

#maps-main-content {
  border: 10px solid transparent;
  padding: 0;
  @include tablet {
    border-width: 15px;
  }
  @include desktop {
    border-width: 25px;
  }
}


/*
header
-----------------------------
*/

$bullet-spacing: -20px;

.map-header-image {
  width: 100%;
}

#maps-header-image-container {
  position: relative;
}

#maps-header-title-container {
  min-width: 225px;
  width: 50%;
  bottom: -20px;
  margin: auto;
  left: 0;
  right: 0;
}

#maps-header-title {
  margin: 0;
  letter-spacing: 0.2em;
  font-size: 0.975em;
  @include tablet {
    font-size: 1.275em;
  }
  @include desktop {
    font-size: 2em;
  }
}

.maps-header-title-element {
  padding: 5px;
}

.maps-header-title-element-container {
  position: absolute;
  text-align: center;
  padding: 4px;
  border: 2px solid transparent;
  color: white;
  background: white;
}

.maps-header-title-bullet {
  top: -2px;
  font-size: 0.75em;
  @include tablet {
    font-size: 1em;
  }
  @include desktop {
    font-size: 1.55em;
  }
}

#maps-header-title-left {
  left: $bullet-spacing;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  padding-right: 0;
  border-right: none;
  .maps-header-title-element {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
}

#maps-header-title-right {
  right: $bullet-spacing;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  padding-left: 0;
  border-left: none;
  .maps-header-title-element {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
}


/*
body
-----------------------------
*/

#maps-timeline-container {
  padding: 50px 0;
}

.timeline-artwork {
  border: 5px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0;
  display: block;
  cursor: pointer;
  @include transition-with-defaults(transform);
  &:hover {
    transform: scale(1.15);
  }
}

.timeline-header {
  font-size: 25px;
  color: $timeline-green;
  @extend .f--font-body-bold;
}

.timeline-duration {
  font-size: 16px;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  color: $timeline-green;
}

.vis-range {
  border-top: 2px dotted $timeline-green;
  border-left: 1px dotted $timeline-green;
  border-right: 1px dotted $timeline-green;
}

#maps-transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 9999;
}


/*
navigation
-----------------------------
*/

#maps-selector-container {
  background-color: rgba(0,0,0,0.4);
}

.maps-timeline-selector {
  display: block;
  padding: 40px 0 20px 0;
  color: white;
  text-decoration: none;
  position: relative;
  @include tablet-up {
    padding: 60px 0 40px 0;
  }
  &.active, &:hover {
    .maps-timeline-selector-indicator {
      background-color: white;
    }
  }
}

.maps-timeline-selector-indicator {
  border: 2px solid $color-map-navigation;
  background-color: #999999; //this value is calculated from #maps-selector-container background color w/ opacity
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 15px;
  height: 15px;
  @include transition-with-defaults(background-color);
  @include tablet-up {
    top: 35px;
  }
}

.maps-timeline-selector-block {
  float: left;
  text-align: center;
  width: 50%;
  @include tablet-up {
    width: 25%;
  }
}

.maps-timeline-selector-line {
  border-top: 2px solid $color-map-navigation;
  top: 22px;
  display: block;
  position: absolute;
  width: 100%;
  @include tablet-up {
    top: 42px;
  }
}


/*
events
-----------------------------
*/

.event-header {
  text-transform: uppercase;
  font-size: 1.15rem;
  margin-bottom: 15px;
  &:first-child {
    margin-top: 0;
  }
}

.event-entry {
  font-size: 0.75rem;
  margin: 15px 0;
  p {
    margin: 5px 0;
  }
  a {
    text-decoration: none;
    @include transition-with-defaults(color);
  }
}

.entry-subtext {
  font-size: 0.6rem;
}

.modal-content {
  .event-entry {
    color: black;
    a {
      color: black;
      &:hover {
        color: grey;
      }
    }
  }
}

.event-section {
  position: relative;
  padding-left: 40px;
  .fa {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.75rem;
  }
}


/*
sidebar
-----------------------------
*/

#maps-sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  max-height: 100%;
  height: 100%;
  width: 25.5%;
}

.sidebar-header {
  font-size: 1.4rem;
  text-align: center;
}

.sidebar-header-title {
  font-size: 1.25rem;
  text-align: center;
}

.sidebar-entry {
  background-color: transparent;
  cursor: pointer;
  @include transition-with-defaults(background-color);
  &:hover {
    background-color: rgba(255,255,255,0.8);
  }
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    margin: 5px;
  }
}