/*
core
-----------------------------
*/

@mixin timeline-active-color($value) {
  .vis-item, .timeline-artwork, #arthistory-main-content {
    border-color: $value;
  }
}

.page-template-template-timeline {
  #arthistory-main-content {
    border: 10px solid transparent;
    @include tablet {
      border-width: 15px;
    }
    @include desktop {
      border-width: 25px;
    }
  }
  &.map-timeline-1 {
    @include timeline-active-color($color-map-1);
  }
  &.map-timeline-2 {
    @include timeline-active-color($color-map-2);
  }
  &.map-timeline-3 {
    @include timeline-active-color($color-map-3);
  }
}

/*
header
-----------------------------
*/

.map-header-image {
  width: 100%;
}

/*
body
-----------------------------
*/

#map-timeline-container {
  padding: 50px 0;
}

.timeline-artwork {
  border: 5px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0;
  display: block;
  cursor: pointer;
  @include transition-with-defaults(transform);
  &:hover {
    transform: scale(1.15);
  }
}

.timeline-header {
  font-size: 25px;
  color: $timeline-green;
  @extend .f--font-dinbek-bold;
}

.timeline-duration {
  font-size: 16px;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  color: $timeline-green;
}

.vis-range {
  border-top: 2px dotted $timeline-green;
  border-left: 1px dotted $timeline-green;
  border-right: 1px dotted $timeline-green;
}