//timeline colours
$color-timeline-navigation: #f8c042;

//timeline
$timeline-green: #38676c;

//default colours
$color-grey: #999999;
$color-black: #393939;
$color-white: #FEFEFA;

//taught class colours
$color-class-contemporary: #0168b7;
$color-class-women: #b85a5a;
$color-class-modern: #FFD700;
//$color-timeline-4: #264548;
