//header font
.f--font-header-regular{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: normal;
}

//body font

.f--font-body-regular{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: normal;
}

.f--font-body-bold{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
}