<header>
    <h2 id="label-fade">{{title}}</h2>
</header>
<div class="modal-content">
    {{#if movementId}}
        {{>event}}
    {{else}}
        <img class="entry-image f--image-zoom" src="{{largeImage}}" alt="{{title}}"/>
    {{/if}}
</div>