<header>
    <h2 id="label-fade">{{title}}</h2>
</header>
<div class="modal-content">
    {{#if largeImage}}
        <img src="{{largeImage}}" alt="{{title}}" class="full-screen-zoom"/>
    {{/if}}
    {{>event}}
</div>