<div
    {{#if image}}
    style="background-image: url('{{image}}')" class="timeline-artwork"
    {{else}}
    class="timeline-artwork maps-active-color-light"
    {{/if}}
    data-event-id="{{id}}">
    {{title}}
</div>